
.tabs{
  margin-bottom: 10px;
  display: flex;
}

.tabs button {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #fff;
  cursor: pointer;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.tabs button:hover {
  background-color: #D9DADD;
}

.tabs button.active {
  background-color: #2c2a29;
  color: #ffffff;
  border-bottom: 3px solid #fdda24;
}